html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.cards-main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
}
.nav-bar {
  background: #2d5a70;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.25);
}
.border {
  border: solid 1px black;
}
.sprite {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 100%;
  width: 10rem;
  height: auto;
}
.card-title {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
}
.container {
  display: flex;
}
.tag {
  background-color: rgba(0, 0, 0, 0.383);
  text-align: center;
  min-width: 1rem;
  max-width: 4rem;
  border-radius: 20px;
  margin-top: 0.5rem;
}
