
body {
  margin: 0;
  padding: 0;

}
* {
  box-sizing: border-box;
}
.nav-bar{
  background:#2D5A70;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.25);
}
.border{
  border:solid 1px black
}